<!DOCTYPE HTML>
<html> 
  <head> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/buttons.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <h1><%= @post.title %></h1>

    <p><%= unsafe @post.body %></p>

    <form name="delete_<%= @post.id %>" action="/posts/<%= @post.id %>" method="post" accept-charset="utf-8">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="id" value="<%= @post.id %>">
      <button type="submit" value="delete">✖ delete</button>
    </form>
    <p><a class="button yellow" href="/posts/<%= @post.id %>?edit=true">edit</a></p>
  </body>
</html>
